//---------------------------------------------------
// ui : 스타일
//---------------------------------------------------

//main
main {

    & [class$='-wrap'] {
        @include flex-flow;

        .inner {
            position: relative;
            width: 120rem;
            margin: 0 auto;

            .tab {

                label {
                    display: inline-block;
                    cursor: pointer;

                    p {
                        @include fs($fs24);
                        color: $color-fff;
                        margin-left: 5.5rem;
                    }
                }

                .content {
                    display: none;
                    @include position (23rem, 0);
                    right: 0;
                    bottom: 0;
                    font-size: 20px;
                    margin: 2rem 0;
                    padding: 2rem;

                    @include mobile {
                        display: block;
                    }

                    .search-bar {
                        @include flex-flow;

                        @include mobile {
                            display: block;
                        }

                        .search-input {
                            @include fs($fs24);
                            height: 70px;
                            border: 2px solid $color-fff;
                            border-radius: 0;
                            background-color: transparent;
                            color: #fff;
                            outline: 0;

                            @include mobile {
                                @include fs($fs15);
                                height: 4rem;
                                padding: 9px 2rem;
                                position: relative;
                            }

                            &::-webkit-input-placeholder {
                                color: rgba(255, 255, 255,.5);
                                font-size: 2.4rem;
                                line-height: 3.7rem;

                                @include mobile {
                                    font-size: 1.5rem;
                                    line-height: 2.2rem;
                                }

                            }
                            &:focus {
                                border: 2px solid #fff;
                            }
                        }
                    }

                    .hash-list {
                        width: 89rem;
                        padding-left: 3rem;
                        @include flex-flow;
                        justify-content: start;
                        flex-wrap: wrap;

                        li {
                            margin: 1.5rem 1.4rem 0 0;

                            a {
                                @include fs($fs18);
                                display: block;
                                color: $color-fff;
                                padding: 5px 1rem;
                                background-color: rgba(255, 255, 255,.15);

                                & + a {

                                }
                            }
                        }

                        @include mobile {
                            display: none;
                        }
                    }

                    .qsearch-select-wrap {

                        select {
                            background-color: transparent;
                            background-position: right 30px top 50%;
                            background-size: 2rem 2rem;
                            border: 2px solid $color-fff;
                            border-radius: 0;
                            height: 7rem;
                            color: $color-fff;
                            outline: 0;
                            @include fs($fs20);
                            line-height: 1;
                            padding: 2rem 7rem 2rem 3rem;
                            background-image: url($path-img-main + 'ico_view_2_def.svg');

                            option {
                                color: $color-111;
                            }

                            &.on {
                                background-image: url($path-img-main + 'ico_view_2_on.svg');
                            }

                            & + select {
                                border-left: 0;
                            }

                            &[disabled] {
                                opacity: 1;
                                color: rgba(255, 255, 255, .5);
                            }
                        }
                    }

                    .btn-search {
                        margin-left: 1rem;
                        @include wh(7rem,7rem);
                        border-radius: 0;
                        background:$bg-red url($path-img-ico + 'ico_search_2_white.svg') no-repeat center;
                        flex: 1 0 7rem;

                        @include mobile {
                            position: absolute;
                            right: 2rem;
                            @include wh(4rem,4rem);
                            background-color: transparent;
                            background-size: 1.5rem 1.5rem;
                        }

                    }
                }

                [type=radio] {
                    display: none;

                    &:checked~label {

                        &~.content {
                            display: block;
                            z-index: 0;
                        }

                        p {
                            position:relative;
                            display: inline-block;
                            border-bottom: 4px solid $color-fff;
                        }

                        p:after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            bottom: -4px;
                            @include wh ( calc(100% + 5px), 4px );
                            background-color: $bg-fff;

                            @include mobile {
                                left: 50%;
                                bottom: -1rem;
                                transform: translateX(-50%);
                                background-color: $bg-red;
                                width: 10.5rem;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    & .search-wrap {
        background: url($path-img-main + 'bg_keyvisual.png') no-repeat left top / cover;
        @include wh(100%, 28rem);

        @include mobile {
            background: none;
            background-color: #131c29;

            @include mobile {
                height: 8rem;
            }
        }

        .inner {
            padding: 2rem 0;

            @include mobile {
                width: 100%;
                padding: 2rem 2rem;
            }

            .tab {

                &:nth-child(1) {

                    label {

                        p {
                            margin-top: 60px;
                        }
                    }
                }

                &:nth-child(2) {

                    @include mobile {
                        display: none;
                    }

                    label {

                        p {
                            margin-top: 5px;
                        }
                    }
                }

                label {
                    @include wh(20rem, 12rem);
                    background-color: #315bb7;

                    @include mobile {
                        display: none;
                    }

                }

                .content {
                    margin-top: 10.5rem;
                    padding: 0 0;

                    @include mobile {
                        margin: 0 0;
                        position: static;
                    }
                }
            }
        }
    }

    & .menu-wrap {

        @include mobile {
            padding: 0 2rem;
            position: relative;
        }
        .inner {
            margin: 6rem 0;

            @include mobile {
                position: relative;
                @include wh(100%, 26rem);
                width: 100%;
                margin: 3rem 0 0;
            }

            &:after {
                @include mobile {
                    @include position (0,2.9rem);
                    z-index: -1;
                    @include wh(100%, 1px);
                    background-color: #ccc;
                }
            }

            .tab {

                @include mobile {
                    float: left;
                    padding: 0 0;
                    width: calc(100% / 3);
                    text-align: center;
                }
                label {
                    width: 20rem;
                    background-color: #479fd1;

                    @include mobile {
                        @include wh(100%, 3rem);
                        position: relative;
                        background-color: transparent;
                    }
                    p {
                        @include mobile {
                            display: block;
                            width: 100%;
                            margin-left: 0;
                            @include fs($fs15);
                            color: inherit;
                        }
                    }
                }

                &:nth-child(1) {

                    label {
                        height: 8.3rem;

                        @include mobile {
                            height: auto;
                        }

                        p {
                            margin-top: 4.6rem;

                            @include mobile {
                                margin-top: 0;
                            }
                        }
                    }
                }

                &:nth-child(2) {

                    label {
                        height: 5.3rem;

                        @include mobile {
                            height: auto;
                        }

                        p {
                            margin-top: 1.9rem;

                            @include mobile {
                                margin-top: 0;
                            }
                        }
                    }
                }

                &:nth-child(3) {

                    label {
                        height: 10.4rem;

                        @include mobile {
                            height: auto;
                        }

                        p {
                            margin-top: 2.1rem;

                            @include mobile {
                                margin-top: 0;
                            }
                        }
                    }
                }

                .content {
                    margin: 0;
                    padding:0;
                    @include position (26rem, 0);

                    @include mobile {
                        display: none;
                        height:100%;
                        position: absolute;
                        top: 2.9rem;
                        left: 0;
                        right: 0;
                        margin: 0 -2rem;
                        padding: 0 0;
                        box-sizing: border-box;
                    }

                    .icon-list {
                        @include flex-flow;
                        justify-content: flex-start;
                        align-items: baseline;
                        margin-top: 4rem;

                        @include mobile{
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            margin-top: .5rem;
                        }

                        .icon-item {
                            // flex: 1 1 auto;
                            margin-right: 3rem;

                            @include mobile {
                                flex: 0 0 25%;
                                margin-right: 0;
                            }

                            &:last-of-type {
                                margin-right: 0;
                            }

                            a {
                                display: block;
                                text-align: center;

                                @include mobile {
                                    padding: 1.5rem 0;
                                }

                                img {
                                    @include mobile {
                                        margin: 0 auto;
                                        width:  6rem;
                                        background-color: $bg-f6f6f6;
                                        border-radius: 1.2rem;
                                    }
                                }

                                img:nth-child(1) {

                                    @include mobile {
                                        display: none;
                                    }
                                }
                                img:nth-child(2) {
                                    display: none;

                                    @include mobile {
                                        display: block;
                                    }
                                }
                                span {
                                    display: block;
                                    @include fs($fs18);

                                    @include mobile {
                                        margin-top: 1rem;
                                        @include fs($fs14);
                                    }
                                }

                                br {
                                    display: none;

                                    @include mobile {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include clearfix;
        }
    }

    & .bottom-wrap {
        .inner {
            @include flex-flow;
            overflow: hidden;
            height: 24rem;
            margin-bottom: -2rem;

            @include mobile {
                height: auto;
                flex-wrap: wrap;
                padding: 0 2rem;
                margin-top: 6.2rem;
            }

            .info-list {
                width: calc(100% - 41rem);

                @include mobile {
                    width: 100%;
                }

                .ver-pc {
                    ul {
                        @include flex-flow;

                        li {
                            position: relative;

                            a {
                                display: block;
                            }

                            .con {
                                @include position(0,0);
                                @include wh(20rem, 100%);
                                padding: 6rem 3rem 0 3rem;
                                background-color: rgba(32,65,146,.9);

                                .tit {
                                    margin-bottom: 2rem;
                                    font-weight: $fw-m;
                                    font-size: 2.2rem;
                                    line-height: 3.2rem;
                                    letter-spacing: -0.22px;
                                    color: $color-fff;

                                    &~*{
                                        @include fs($fs18);
                                        color: $color-fff;
                                    }

                                    &~a {
                                        position: relative;

                                        & + a {
                                            margin: 2rem 1.6rem 0 0;
                                        }

                                        &:after {
                                            content:"";
                                            position:absolute;
                                            background: url($path-img-main + 'ico_arrow_view.svg') no-repeat left top 2px / 2rem 2rem;
                                            @include wh(2rem, 2rem);
                                        }
                                    }
                                }
                            }
                            &.list-1 {
                                .con {
                                    padding: 6rem 0 0 5rem;
                                }
                            }
                        }
                    }

                    @include mobile {
                        display: none;
                    }
                }
                .ver-mo {
                    display: none;

                    @include mobile {
                        display: block;

                        ul {
                            @include flex-flow;

                            li {
                                flex: 0 0 30%;
                                position: relative;

                                a {
                                    display: block;

                                    span {
                                        position: absolute;
                                        left: 1.5rem;
                                        bottom: 1.5rem;
                                        @include fs($fs14);
                                        font-weight: $fw-m;
                                        color: $color-fff;
                                    }

                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .notice-list {
                width: 38rem;
                height: 100%;

                @include mobile {
                    width: 100%;
                    margin-top: 4rem;
                }

                .title {
                    @include fs($fs24);
                    font-weight: $fw-b;
                    margin-bottom: 1rem;

                    @include mobile {
                        @include fs($fs16);
                        padding-bottom: 1rem;
                        border-bottom: 1px solid $color-ccc;
                    }
                }

                .notice-items {

                    a {
                        @include flex-flow;
                        padding: 1.5rem 0;

                        @include mobile {
                            padding: 1rem 0;
                        }

                        &:last-child {
                            padding-bottom: .6rem;
                        }

                        p {
                            @include fs($fs15);
                            flex: 0 0 75%;

                            @include mobile {
                                @include fs($fs14);
                            }
                        }

                        span {
                            @include fs($fs15);
                            color: #999;

                            @include mobile {
                                @include fs($fs14);
                            }
                        }
                    }
                }
            }
        }
    }

}


//LOGIN

//로그인
.log {
    width: 100%;

    .log-wrap {
        @include mobile {
        padding:0 5.5%;
        }
    }

    .inner {
        margin: 0 auto;
        padding: 13rem 0 5rem;

        @include mobile {
            padding:5rem 0 0;
        }

        .logo {
            text-align: center;

            a::after {
                content: "";
                display: inline-block;
                @include wh(23rem, 8.7rem);
                background: url($path-img-common + 'logo.svg') no-repeat 0 0;
                background-size: 100%;

                @include mobile {
                    @include wh(16.5rem, 6.25rem);
                background: url($path-img-common + 'logo.svg') no-repeat 0 0;
                }
            }
        }

        .box-gray {
            width: 80rem;
            margin: 6rem auto 0;
            padding: 3rem;

            @include mobile {
                width:100%;
                margin-top:3rem;
                padding:2rem;
            }

            .b-item {
                @include fs($fs14);
                color: $color-666;

                &+.b-item {
                    margin-top: 1rem;

                    @include mobile {
                        margin-top: 1.5rem;
                    }
                }
            }
        }

        .title {
            @include fs($fs18);
            font-weight: $fw-m;
            color: initial;

            @include mobile {
                font-size: 1.5rem;
            }
        }

        .flex {
            width: 108rem;
            margin: 0 auto;
            align-items: start;

            @include mobile {
                width:100%;
            }

            &.pwc {
                margin-bottom: 5rem;
                justify-content: center;
            }

            .box-gray {
                @include wh(52rem, 44rem);
                margin: 12rem 0 0;
                padding: 5rem;

                @include mobile {
                    margin: 3rem 0 0;
                    padding: 3rem 2.5rem;
                    @include wh(100%,auto);
                }

                &.id {

                    a {
                        margin-top: 9.5rem;

                        @include mobile {
                            margin-top: 2rem;
                        }
                    }
                }

                &.pw {
                    @include mobile {
                        margin-top: 2rem;
                    }
                }

                a {
                    margin-top: 2.5rem;
                    @include border-radius(1.2rem);

                    @include mobile {
                        height: 4.8rem;
                        line-height: 4.8rem;
                        font-size: $fs14;
                        margin-top: 2rem;
                        @include border-radius(.6rem);
                    }
                }
            }

            &.id-pw-flex {
                @include mobile {
                    flex-direction: column;
                }
            }

            &.pwc .box-gray a {
                @include mobile {
                    margin-top: 0;
                }
            }
        }

        .login-wrap {
            margin: 5rem auto 0;
            width: 40rem;

            @include mobile {
                width:100%;
            }
        }

        .input-wrap {
            margin-top: 3rem;

            @include mobile {
                margin-top: 2rem;
            }

            input+input {
                margin-top: 1rem;
            }
        }

        .row-btns {
            @include mobile{
                flex-direction: column-reverse;
            }

            .col:first-child {
                @include mobile {
                    margin-top: 0.8rem;
                }
            }

           .col + .col {
               @include mobile {
                   margin-left: 0;
                   margin-top: 2rem;
               }
           }
        }

        .agree {
            padding-left: 3rem;
            width: 80rem;
            margin: 2rem auto 0;

            @include mobile {
                display: flex;
                padding-left: 0;
                width:100%;
                margin:1.5rem auto 0;
            }

            .checkbox input[type="checkbox"] {
                @include mobile {
                    @include wh(2rem,2rem);
                }
            }

            .checkbox i {
                @include mobile {
                    @include wh(2rem, 2rem);
                }
            }

            span {
                display: inline-block;
                @include fs($fs14);
                vertical-align: -.4rem;

            }
        }

        input[type="text"], input[type="password"] , input[type="email"] {
            @include mobile {
                height:4.8rem;
                line-height: 4.6rem;
                padding:1.4rem 1.5rem;
                font-size:$fs15;
                @include border-radius(.6rem);
            }
        }

        input[type="text"]::placeholder, input[type="password"]::placeholder , input[type="email"]::placeholder {
            color:$color-ccc;
        }

        .log-search {
            margin-top: 2rem;
            text-align: center;
            @include fs($fs14);

            @include mobile {
                margin-top: 1.5rem;
            }

            a {
                position: relative;

                &+a {
                    margin-left: 20px;
                }

                &+a:before {
                    @include position (-1.2rem, 5px);
                    @include wh(1px, 1rem);
                    background-color: $bg-ccc;
                    content: "";
                }
            }
        }

        .btn-red-lg {
            width: 100%;
            margin-top: 3rem;
            font-weight: $fw-m;
            @include border-radius(1.2rem);

            @include mobile {
                margin-top: 2rem;
                height:4.8rem;
                line-height: 4.8rem;
                font-size: $fs14;
                @include border-radius(0.6rem);
            }
        }

        .comment {
            text-align: center;
            margin-top: 8rem;
            @include fs($fs14);
            color: $color-666;

            @include mobile{
                margin: 5rem auto 0;
            }

            em {
                font-weight: $fw-m;
            }
        }
    }

    //개인정보 변경
    .table-wrap {

        .top-wrap {
            justify-content: flex-end;
        }

        [class*=-edit].type2 {

            .tr p, .td {
                font-size: $fs14;
            }

            .td, .th {
                @include mobile {
                    padding:0;
                }
            }
            .th {
                @include mobile {
                    margin-bottom: 1rem;
                    font-weight: $fw-r;
                }
            }
        }

        input[type="text"].disabled ,
        input[type="tel"], input[type="text"], input[type="password"], input[type="email"] {
            padding:0 1rem;
            
            @include mobile {
                padding:0 1.5rem;
            }
        }

        input[type="text"].disabled {
            color: $color-666;
        }

        .dec-ico {
            display: inline-block;
            margin:0 .4rem;
        }
    }

    .pw-change-btn {
        @include mobile {
            padding: 0 .9rem;
        }
    }
}

//rowBtns
.table-wrap + .row-btns {
    @include mobile {
        padding: 0 20px;
    }
}

.table-wrap.edit + .row-btns {
    margin-top: 35px;

    @include mobile {
        margin-top: 30px;        
    }
}

.table-wrap.edit2 + .row-btns {
    margin-top: 50px;

    @include mobile {
        margin-top: 30px;        
    }
}

.table-wrap.detail + .row-btns {
    margin-top: 50px;

    @include mobile {
        margin-top: 10px;        
    }
}

//edit
.table-wrap > [class*=-edit] {
    .edit-wrap{
        height: 18rem;
        @include mobile {
            height: 25rem;
        }
    }

    .use-wrap {
        .th,
        .td {
            padding: 0.5rem 0;
        }

        @include mobile {
            display: flex;
            
            .th {
                flex: none;
                margin-right: 30px;
                padding-bottom: 0;

                p {
                    @include fs($fs15);
                    color: $color-111;
                }
            }

            .radio {
                @include fs($fs15);
            }
        }

    }
}

//detail
.table-detail.video-wrap {

    .td {

        @include mobile {
            display: flex;
            flex-direction: column-reverse;
            padding: 2rem 0!important;
            border-bottom: 1px solid $color-e6e6e6;
        }

        .video-play {

            @include mobile {
                margin-top: 0!important;
                margin-bottom: 2rem;
            }
        }
    }
}

//검색 결과
.result {
    position: relative;
    width: 120rem;

    @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }


    .result-wrap {
        float: left;
        width: 90rem;

        @include mobile {
            float: none;
            width: 100%;
        }

        .select-wrap {
            @include mobile {
                width:auto!important;
                flex:1 0 auto;
            }
        }
    }

    .result-aside {
        display: inline-block;
        width: 25rem;
        margin: 18.9rem 0 0 5rem;

        @include mobile {
            position: static;
            display: flex;
            justify-content: space-between;
            float: none;
            top: 0 !important;
            width: auto;
            margin: 8.5rem 0 0 0;
            flex-wrap: wrap;
            background-color: $bg-f6f6f6;
            padding: 0 2rem 3rem;
        }


        &.fixed {
            position: fixed;
            margin-top: 0;

            @include mobile {
                position: static;
                top: 0 !important;
            }
        }

        &>div {

            &+div {
                margin-top: 3rem;
            }
        }

        .box-white {
            border-color:$color-e6e6e6;

            @include mobile {
                width: 100%;
                background-color: transparent;
                border: 0;
            }

            &:first-child {

                @include mobile {
                    border-color: none !important;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent !important;
                    padding: 0 1.5rem 0;

                    .lists {
                        @include mobile {
                            padding: 0 0 0;
                            background: transparent;
                            border: 0;

                            .tit {
                                @include mobile {
                                    display: none;
                                }
                            }
                            dd {
                                @include mobile {
                                    position: static;
                                    height: auto !important;
                                    display: flex;
                                    justify-content: baseline;
                                    background: transparent;
                                    border: none;
                                    padding-left: 0;
                                }

                                & a {
                                    margin-top: 0;
                                }
                                & a + a {
                                    margin-top: 0;
                                    margin-left: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .lists {
            padding: 0 3rem 3rem;
            position: relative;

            @include mobile {
                padding: 0 0 0;

            }

            .tit {
                @include fs($fs16);
                padding: 3rem 0 2rem;
                font-weight: $fw-m;

                @include mobile {
                    padding: 1rem 1.5rem 1rem;
                    @include fs($fs14);
                    font-weight: inherit;
                    border: 1px solid #eee;
                    border-radius: 6px;
                    background:#fff url($path-img-ico + 'ico_arrow_select.svg') no-repeat right 10px top 50%/15px;
                }

            }

            dd {
                display: block;

                @include mobile {
                    height: 12rem;
                    overflow-y: auto;
                    position: absolute;
                    width: 100%;
                    top: 3.8rem;
                    background-color: #fff;
                    border: 1px solid #eee;
                    border-radius: 6px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-top: 0;
                    padding: 0 1.5rem;
                    display: none;
                }

                a {
                    display: block;
                    @include fs($fs14);

                    @include mobile {
                        margin-top: 1rem;
                    }

                    &+a {
                        margin-top: 1rem;
                    }

                    span {
                        @include mobile {
                            display: none;
                        }
                    }
                }
            }

        }
    }
    @include clearfix;
}

.result-wrap {

    .tab-wrap {
        margin-top: 8rem;

        @include mobile {
            margin-top: 3rem;
        }
    }

    .filter-wrap {

        @include mobile {
            padding: 0;
        }

        .inner {
            margin-top: 6.8rem;

            @include mobile {
                display: block;
                margin: 4rem 0 0;
            }
        }

        ul {

            li {
                @include fs($fs16);
                color: inherit;

                &:first-child {
                    font-weight: $fw-m;
                }

                &+li {
                    border: 0;
                    margin-left: .6rem;
                    padding-left: 0;

                }

                span {
                    color: $color-red;
                }
            }
        }

        div.flex {
            @include mobile {
                margin-top: 10px;
                column-gap:10px;
            }

        .select-wrap {

            &+.select-wrap {
                margin-left: 1rem;

                @include mobile {
                    margin-left: 0;
                }
            }
            }
        }
    }
}

//퀵서치
.result-quicksearch {

    @include mobile {
        padding: 0 2rem;
    }

    .result-amnt {

        font-weight: $fw-r;
        margin-top: 8.5rem;
        margin-bottom: 1rem;

        @include mobile {
            font-weight: $fw-m;
            margin: 3rem 0;
        }

        li {
            display: inline-block;
            @include fs($fs16);

            @include mobile {
                display: block;
            }

            &:last-child {
                span {
                    @include mobile {
                        color: $color-111;
                    }
                }
            }
        }
        span {
            color:$color-red;
        }
    }

    dl.list {
        margin-top: 6rem;

        @include mobile {
            margin-top: 0;
        }

        &+dl.list {
            @include mobile {
                margin-top: 40px;
            }
        }

        dt {
            @include fs($fs16);
            font-weight: $fw-m;
            border-bottom: 1px solid $color-e6e6e6;
            padding-bottom: 1rem;

            @include mobile {
                @include fs($fs15);
                border-bottom: 1px solid $color-111;
                padding-bottom: 0.5rem;
            }
        }

        dd {
            @include flex-flow;
            @include fs($fs15);
            padding: 1.5rem 0;
            border-bottom: 1px solid $color-e6e6e6;

            @include mobile {
                flex-direction: column;
                align-items: flex-start
            }

            .tit {
                @include fs($fs14);
                flex: 0 1 70%;
                width: 100%;
            }

            .date {
                @include mobile {
                    @include fs($fs12);
                    margin-top: 2px;
                }
            }

        }
    }
}

//통합검색
.result-integrate-search {
    margin-top: 1rem;

    @include mobile {
        margin-top: 3rem;
    }

    .result-lists {
        margin-top: 6rem;

        &[type="nodata"] {
            padding: 2rem 0 12rem;

            @include mobile {
                width: 100%;
                padding: 3rem 0 0;
            }

            p {
                text-align: center;
                @include fs($fs16);

                span {
                    color: $color-red;
                }
            }
            .box-gray {
                margin: 3rem auto 0;
                width: 47rem;
                padding: 3rem;

                @include mobile {
                    width: 100%;
                    padding: 2.5rem 2rem;
                }
            }
            .desc-list {

                .desc-item {
                    position: relative;
                    margin-left: .5rem;
                    @include fs($fs14);
                    color: $color-666;

                    &:before {
                        content:"-";
                        position: absolute;
                        left: -.8rem;
                    }
                    & + .desc-item {
                        margin-top: 1rem;
                    }
                }
            }
        }

        @include mobile {
            margin-top: 0;
        }

        >.title {
            border-bottom: 1px solid $color-e6e6e6;
            padding-bottom: 1rem;

            @include mobile {
                border-bottom: 1px solid $color-111;
                padding-bottom: 0.5rem;
            }

            span {
                @include fs($fs16);

                @include mobile {
                    @include fs($fs15);
                    font-weight: $fw-m;
                }

                &+span {

                    &:before {
                        content: "";
                        display: inline-block;
                        @include wh(1.2rem, 1.2rem);
                        background: url($path-img-ico + 'ico_next_1_black.svg') no-repeat 0 0 / 12px 12px;
                        margin: 0 5px 0 3px;
                    }
                }
            }
        }

        dl.list {
            padding: 3rem 0;

            @include mobile {
                padding: 1.5rem 0 1.75rem;
            }

            dt {
                @include fs($fs16);

                @include mobile {
                    @include fs($fs14);
                    font-weight: $fw-m
                }
            }

            dd {
                @include fs($fs14);

                .tit {
                    @include fs($fs14);
                    margin-top: 1rem;
                    max-width: 80%;

                    @include mobile {
                        margin-top: .5rem;
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }

                .file-link {
                    display: block;
                    @include fs($fs14);
                    margin-top: 1rem;
                    vertical-align: middle;

                    @include mobile {
                        @include fs($fs13);
                        color: $color-666;
                    }
                }

                .desc {
                    margin-top: 2rem;

                    @include mobile {
                        margin-top: 1.5rem;
                        display: block;
                    }

                    .sub-title {
                        span {
                            @include fs($fs14);
                            color: $color-666;

                            @include mobile {
                                @include fs($fs13);
                            }

                            &+span {
                                &:before {
                                    content: "";
                                    display: inline-block;
                                    @include wh(1.2rem, 1.2rem);
                                    margin: 0 5px 0 3px;
                                    background: url($path-img-ico + 'ico_next_1.svg') no-repeat 0 0 / 12px 12px;

                                    @include mobile {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }

                    .date {
                        @include fs($fs14);
                        color: $color-666;

                        @include mobile {
                            @include fs($fs13);
                            display: block;
                            margin-top: .5rem;
                        }
                    }
                }
            }

            &+dl.list {
                border-top: 1px solid $color-e6e6e6;
            }
        }

        [class^='btn'] {
            @include wh(100%, 5rem);
            @include fs($fs14);
            line-height: 4.8rem;
            border-color: $color-e6e6e6;
            color: $color-666;
            font-weight: $fw-r;

            @include mobile {
                @include wh(100%, 4rem);
                line-height: 4rem;
                margin-top: 1.25rem;
            }
        }

        &+.result-lists {
            margin-top: 5rem;
        }
    }
}

//depth category
.dep-cate {
    span {
        &+span::before {
            content: "";
            display: inline-block;
            @include wh(1.2rem, 1.2rem);
            background: url($path-img-common + 'ico_arrow_category.svg') no-repeat center / cover;
        }
    }

    @include mobile {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 50px);
    }
}
// 동영상 상세 버튼
.row-btns.video-wrap-btn {
    @include mobile {
        margin-top: 3rem!important;
        padding-bottom: 2.8rem;
    }

    .col {
        @include mobile {
            margin-top: 0;
            flex:none;
        }

        .btn-red-sm {
            @include mobile {
                height:40px;
                line-height: 38px;
            }
        }
    }
}


//접근권한
.access-wrap {
    &.edit {
        .th {
            margin-top: 13px;

            @include mobile {
                display: none;
            }
        }

        .td {
            > div {
                @include flex-flow;

                @include mobile {
                    display: block;
                    position: relative;
                    margin-top: 75px!important;
                }

                .value-wrap {
                    flex: 1 1 auto;
                    margin: 0 10px;
                    padding: 1.2rem 1rem;
                    @include fs($fs14);
                    color: $color-666;
                    background-color: $color-f6f6f6;
                    border: 1px solid $color-e6e6e6;
                    border-radius: 6px;

                    @include mobile {
                        margin: 0;
                        height: 12.5rem;
                        padding: 1rem;
                        color: $color-666;
                        background-color: $color-fff;
                        border: 1px solid #eee;
                    }
                }

                p {
                    @include mobile {
                        position: absolute;
                        left: 0;
                        top: -37px;
                        color: $color-666;
                    }
                }

                a {
                    @include mobile {
                        position: absolute;
                        right: 0;
                        top: -45px;
                        min-width: auto;
                        height: 3.5rem;
                        font-size: 1.4rem;
                        line-height: 3.5rem;
                        padding: 0 0.9rem;
                    }
                }

                &+div {
                    margin-top: 10px;
                }
            }

        }
    }
    &.view {
        &+.access-wrap {
            margin-top: -1px;
            border-top: 1px solid #fff;

            .th,
            .td {
                padding-top: 0!important;
            }
        }
    }
}



//개인정보 취급방침.이용약관
.terms {
    .term-wrap {
        margin-top: 4rem;

        @include mobile {
            margin-top: 3rem;
            padding: 0 2rem;
        }
    }

    .term__big-tit, .term__cmn-tit {
        font-size: $fs24;

        @include mobile {
            font-size: $fs16;
        }
    }

    .term__big-tit {
        color:$color-000;

        p {
            font-size: $fs14;
            color:$color-666;
        }
    }

    .term__cmn-tit {
        padding-top:3rem;
        margin-top:3rem;
        margin-bottom: 1rem;
        border-top:1px solid #eee;

        @include mobile {
            margin-top: 2rem;
            margin-bottom: .5rem;
            padding-top: 2rem;
        }
    }

    li , p , .term__txt-wrap {
        font-size: $fs16;
        color:$color-666;
        line-height: 1.88;

        @include mobile {
            font-size: $fs14;
        }
    }

    .term__txt-wrap {
        margin-left: 2rem;

        @include mobile {
            margin-left: 1rem;
        }
    }

    .dash-list {
        li{
        position: relative;
        margin-left: 1.5rem;
        padding-left: .8rem;

        @include mobile {
            margin-left: .8rem;
        }

            &::before {
                content:'';
                position: absolute;
                top:1.4rem;
                left:0;
                width:4px;
                height:1px;
                background: $bg-666;
            }
        }
    }

    .circle-num { 
        counter-reset: termNum 0;

        >li {
            padding-left: 1.8rem;
            position: relative;

            &:before {
                position: absolute;
                top:0;
                left:0;
                content: counter(termNum)")";
                counter-increment: termNum;
            }
        }
    }

    .mb4 {
        margin-bottom: 0.4rem;
    }
}

