//---------------------------------------------------
// common : 공통 요소 스타일
//---------------------------------------------------

//skip
.skip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;

    a {
        display: block;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin-bottom: -1px;

        &:focus,
        &:active {
            @include fs ($fs24);
            text-align: center;
            color: #000;
            width: 100%;
            height: auto;
            padding: 2rem 0;
            background-color: #ccc;
        }
    }
}

//dim
.dim {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6);
    z-index: 101;

    &.on {
        display: block;
    }
}

//box
[class^='box-'] {
    border-radius: 12px;
    border: 1px solid transparent;

    &[class*='gray'] {
        background-color: $bg-f6f6f6;
    }

    &[class*='gray'][class*='line'] {
        border-color: $color-f6f6f6;
        background-color: $bg-fff;
    }

    &[class*='white'] {
        background-color: $bg-fff;
    }

    &[class*='white'][class*='line'] {
        border-color: $color-f6f6f6;
        background-color: $bg-fff;
    }
}

//font-style
$f-sizes:
12,
13,
14,
15,
16,
18,
20,
24,
30,
40,
50;

@each $f-size in $f-sizes {
    .fs#{$f-size} {
        font-size: ($f-size + px)
    }
}

//font weight
.fw-b {
    font-weight: $fw-b !important;
}

.fw-m {
    font-weight: $fw-m !important;
}

.fw-r {
    font-weight: $fw-r !important;
}

//flex
.flex {
    @include flex-flow();
}


//color
.color {

    &-red {
        color: $color-red !important;
    }

    &-fff {
        color: $color-fff !important;
    }

    &-000 {
        color: $color-000 !important;
    }

    &-111 {
        color: $color-111 !important;
    }

    &-666 {
        color: $color-666 !important;
    }

    &-f6f6f6 {
        color: $color-f6f6f6 !important;
    }

    &-e6e6e6 {
        color: $color-e6e6e6 !important;
    }

    &-ccc {
        color: $color-ccc !important;
    }
}

//bg color
.bg {

    &-red {
        background-color: $bg-red !important;
    }

    &-fff {
        background-color: $bg-fff !important;
    }

    &-000 {
        background-color: $bg-000 !important;
    }

    &-111 {
        background-color: $bg-111 !important;
    }

    &-666 {
        background-color: $bg-666 !important;
    }

    &-f6f6f6 {
        background-color: $color-f6f6f6 !important;
    }

    &-e6e6e6 {
        background-color: $color-e6e6e6 !important;
    }

    &-ccc {
        background-color: $bg-ccc !important;
    }
}

//ellipsis
.ellipsis {
    @include ellipsis(1);

    &-line02 {
        @include ellipsis(2);
    }

    &-line05 {
        @include ellipsis(5);
    }
}

//width : px
.w {

    @for $i from 0 through 800 {

        @if($i%1==0) {

            &#{$i} {
                width: #{$i}px !important;
            }
        }
    }
}

//width : %
.wp {

    @for $i from 5 through 100 {

        @if($i%5==0) {

            &#{$i} {
                width: #{$i}+'%' !important;
            }
        }
    }
}

//margin-top
.mt {

    @for $i from 0 through 80 {

        @if($i%5==0) {

            &#{$i} {
                margin-top: #{$i}px !important;
            }
        }
    }
}

//margin-bottom
.mb {

    @for $i from 0 through 50 {

        @if($i%5==0) {

            &#{$i} {
                margin-bottom: #{$i}px !important;
            }
        }
    }
}

//margin-left
.ml {

    @for $i from 1 through 50 {

        @if($i%1==0) {

            &#{$i} {
                margin-left: #{$i}px !important;
            }
        }
    }
}

//margin-right
.mr {

    @for $i from 1 through 50 {

        @if($i%5==0) {

            &#{$i} {
                margin-right: #{$i}px !important;
            }
        }
    }
}

//padding-top
.pt {

    @for $i from 1 through 50 {

        @if($i%5==0) {

            &#{$i} {
                padding-top: #{$i}px !important;
            }
        }
    }
}

//padding-bottom
.pb {

    @for $i from 0 through 50 {

        @if($i%5==0) {

            &#{$i} {
                padding-bottom: #{$i}px !important;
            }
        }
    }
}

//padding-left
.pl {

    @for $i from 1 through 50 {

        @if($i%5==0) {

            &#{$i} {
                padding-left: #{$i}px !important;
            }
        }
    }
}

//padding-right
.pr {

    @for $i from 1 through 100 {

        @if($i%5==0) {

            &#{$i} {
                padding-right: #{$i}px !important;
            }
        }
    }
}

//text-align
.al {

    &-l {
        text-align: left !important;
    }

    &-r {
        text-align: right;
    }

    &-c {
        text-align: center;
    }

}

//float
.fl {

    &-l {
        float: left;
    }

    &-r {
        float: right;
    }
}

//flex
.f-a-start {
    align-items: flex-start !important;
}

//border
.border {

    &-none {
        border: 0 !important;
    }
}

//hr
.hr {
    display: block;
    width: 100%;
    height: 2px;
    border: 0;
    background-color: $bg-000;
}

//button
[class^='btn-'] {
    display: inline-block;
    padding: 0 10px;
    font-weight: $fw-r;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;

    &[class*='white'][class*='line'] {
        color: #111;
        background-color: #fff;
        border-color: #111;
    }

    &[class*='red'] {
        color: #fff;
        background-color: #dc000c;
        border-color: #dc000c;
    }

    &[class*='red'][class*='line'] {
        background-color: #fff;
        color: #dc000c;
    }

    &[class*='gray'] {
        color: #fff;
        background-color: #666;
        border-color: #666;
    }

    &[class*='white']:disabled,
    &[class^='btn-white'].disabled {
        background-color: #fff;
        color: #bfbfbf;
        border-color: #bfbfbf;
    }

    &[class*='sm'] {
        min-width: 100px;
        height: 45px;
        line-height: 43px;
        padding: 0 20px;
        font-size: 14px;
    }

    &[class*='md'] {
        height: 44px;
        line-height: 42px;
        padding: 0 35px;
        font-size: 14px;
    }

    &[class*='lg'] {
        min-width: 205px;
        height: 60px;
        line-height: 58px;
        padding: 0 55px;
        font-size: 16px;
    }
}

.row-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

    [class^='btn'] {
        width: 100%;
        padding: 0 20px;
    }

    .col {
        margin: 0;

        &+.col {
            margin-left: 1rem;
        }
    }
}

//select box
.select {
    @include wh (100%, 4.5rem);
    @include fs($fs14);
    padding: 12px 25px 12px 10px;
    color: $color-111;
    background-color: $bg-fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background: #fff url($path-img-ico + 'ico_arrow_select_def.svg') no-repeat right 10px top 50% / 12px;
    appearance: none;

    &.on {
        background-image: url($path-img-ico + 'ico_arrow_select_black.svg');
        background-size: 12px;
    }
}

.select-row-3 {
    display: flex;

    .select-wrap {
        flex: 1 1 0;

        &+.select-wrap {
            margin-left: 10px;
        }
    }
}

//input
.input {
    @include wh (100%, 4.5rem);
    @include fs($fs14);
    padding: 12px 10px;
    color: $color-111;
    background-color: $bg-fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}

//radio
.radio {
    position: relative;
    display: inline-block;
    height: 2rem;
    @include fs($fs14);

    input[type='radio'] {
        display: inline-block;
        @include wh(2rem, 2rem);
        margin-right: 5px;
        vertical-align: top;
        border: 1px solid #e1e1e1;
        border-radius: 50%;
        cursor: pointer;
        -webkit-appearance: none;

        &:checked {
            background-color: transparent;
            border-color: $color-red;

            &+i {
                @include position (.5rem, .5rem);
                @include wh(1rem, 1rem);
                display: inline-block;
                background-color: $bg-red;
                border-radius: 50%;
            }
        }

        &:disabled {
            background-color: #eee;
            border: 1px solid #e1e1e1;

            &+i,
            &:checked+i {
                display: inline-block;
                background-color: #d9d9d9;
            }
        }
    }

    &.txt+.txt {
        margin-left: 30px;
    }
}

//checkbox
.checkbox {
    position: relative;
    display: inline-block;
    height: 2rem;
    @include fs($fs14);

    i {
        @include position (0, 0);
        display: inline-block;
        @include wh(2.4rem, 2.4rem);
        background: url($path-img-ico + 'ico_check.svg') no-repeat center center;
    }

    input[type='checkbox'] {
        display: inline-block;
        @include wh(2.4rem, 2.4rem);
        margin-right: 5px;
        vertical-align: top;
        border: 1px solid #e1e1e1;
        border-radius: 6px;
        cursor: pointer;
        -webkit-appearance: none;

        &:checked {
            background-color: #dc000c;
            border-color: #dc000c;
        }

        &:disabled {
            background-color: #eee;
            border: 1px solid #e1e1e1;

            &:checked+i {
                display: inline-block;
                background-position: -105px -95px;
            }

            &+i {
                display: none;
            }
        }
    }

    &.circle {

        input[type='checkbox'] {
            width:2rem;
            height:2rem;
            margin-right: 1rem;
            background: $bg-fff;
            @include border-radius; 

            &:checked {
                background-color: #dc000c;
            }
        }

        i {
            @include wh(2rem, 2rem);
            background-size: 18px 18px;
        }
    }

}




//table
.table-wrap {


    .checkbox input[type=checkbox] {
        margin-right: 0;
    }

    .check {
        width: 7.8rem;
        padding-left: 3rem !important;
    }
    
    .sign {
        @include fs($fs14);
        padding:0 .3rem;
    }

    .td>.td {
        padding: 0 0 !important;
    }

    .top-wrap {
        @include flex-flow;
        flex-wrap: wrap;
        margin-top: 6rem;

        .txt {
            @include fs($fs14);
            color: $color-666;

            span {
                color: $color-red;
            }
        }

        .hr {
            margin-top: 1rem;
            width: 100%;
        }
    }

    .top-title {
        @include fs($fs18);
    }

    //리스트 테이블
    [class$='-list'] {
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        border-top: 2px solid $color-000;

        &[type="nodata"] {
            display: flex;
            flex-direction: column;

            .tr {
                display: inline-table;
            }

            .nodata {
                padding: 16rem 0;
                @include fs($fs16);
                color: $color-666;
            }
        }

        .tr {
            display: table-row;
            border-bottom: 1px solid $bg-f6f6f6;

            .title {
                width: calc(100% - 62%);
            }

            .category {
                width: 20rem;
            }

            .th {
                font-weight: $fw-m;
                padding: 1rem 1rem;
                background-color: $bg-f6f6f6;

                p {
                    color: $color-666;
                }
            }

            .td {
                padding: 1rem 1rem;

                & {
                    .ellipsis {
                        @include ellipsis(1);
                        width: calc(100% - 10px);
                        padding: 0 5px;
                        text-align: left;
                    }
                }

            }

            .th,
            .td {
                display: table-cell;
            }

            p {
                @include fs($fs15);
            }
        }
        a.tr:hover {
            background-color: #f3f3f3;
        }
    }

    //등록 table
    .edit-title {
        margin-top: 6rem;
        border-bottom: 1px solid $color-e6e6e6;
        width: 100%;
        border-top: 2px solid $color-000;


        ul {
            width: 100%;
            display: flex;
            padding: 2.5rem 0;

            li {
                display: flex;

                &+li {
                    margin-left: 3rem;
                }

                p {
                    @include fs($fs14);
                    line-height: 10px;

                    &.tit {
                        font-weight: $fw-r;
                        color: $color-666;
                    }

                    &+p::before {
                        content: "|";
                        color: $color-ccc;
                        margin: 0 8px;
                    }
                }
            }
        }
    }

    &>[class*='-edit'] {
        width: 100%;
        text-align: left;

        .tr {
            @include flex-flow;

            .th {
                font-weight: $fw-m;
                padding: 1rem 0;
                flex: 0 0 9rem;

                &~.th {
                    margin-left: 3rem;
                }
            }

            .td {
                flex: 1 1 100%;
                padding: 1rem 0;

                &.w600 {
                    display: block;
                }

                & {
                    .ellipsis {
                        @include ellipsis(1);
                        width: calc(100% - 100px);
                        margin: 0 auto;
                        padding: 0 5px;
                    }
                }

                textarea {
                    @include fs($fs14);
                    padding: 12px 10px;
                }
            }

            p {
                @include fs($fs14);
            }
        }

        &.type2 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1.5rem;
            border-bottom: none;

            .tr {
                @include flex-flow;
                width: 100%;
                flex: 1 1 100%;

                .th {
                    flex: 0 0 13rem;
                    font-weight: $fw-m;
                    padding: .5rem 0;

                    &~.th {
                        margin-left: 14rem;
                    }
                }

                .td {
                    @include flex-flow;
                    justify-content: start;
                    flex: 1 1 50%;
                    padding: .5rem 0;
 
                    [class^='btn'] {
                        margin-left: 10px;
                    }

                    & {
                        .ellipsis {
                            @include ellipsis(1);
                            width: calc(100% - 100px);
                            margin: 0 auto;
                            padding: 0 5px;
                        }
                    }
                }

                p {
                    @include fs($fs15);
                }

                .radio-group {
                    height: 4.5rem;
                }
            }

            &+.right-btn {
                margin-top: 1.5rem;
            }
        }
    }

    //상세 table
    .detail-title {
        margin-top: 6rem;
        border-bottom: 1px solid $color-e6e6e6;
        width: 100%;
        border-top: 2px solid $color-000;

        .detail-name {
            @include fs($fs20);
            margin-top: 2.5rem;
            font-weight: $fw-m;
        }

        ul {
            width: 100%;
            display: flex;
            padding: 1rem 0 2.5rem;

            li {
                display: flex;

                &+li {
                    margin-left: 3rem;
                }

                p {
                    @include fs($fs14);
                    line-height: 10px;

                    &.tit {
                        font-weight: $fw-m;
                        color: $color-666;
                    }

                    &+p::before {
                        content: "|";
                        color: $color-ccc;
                        margin: 0 8px;
                    }
                }
            }
        }
    }

    &>[class*='-detail'] {
        width: 100%;
        text-align: left;

        .tr {
            @include flex-flow;
            align-items: flex-start;
            border-bottom: 1px solid $color-e6e6e6;

            .th {
                flex: 0 0 9rem;
                padding: 2rem 0;
                word-break: keep-all;
                
                p {
                    font-weight: $fw-m;
                    color: $color-666;
                }
            }

            .td {
                flex: 1 1 auto;
                padding: 2rem 0;

                &.w600 {
                    display: block;
                }

                & {
                    .ellipsis {
                        @include ellipsis(1);
                        width: calc(100% - 100px);
                        margin: 0 auto;
                        padding: 0 5px;
                    }
                }

                .video-play {
                    margin-top: 2rem;
                    width: 100%;
                    height: 67.5rem;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &.access-wrap {

                justify-content: baseline;

                .td {
                    @include fs($fs14);
                    position: relative;
                    padding-left: 7.3rem;

                    span:first-child {
                        position: absolute;
                        left: 0;
                        display: inline-block;
                        width: 7.3rem; 
                    }
                }
            }

            p {
                @include fs($fs14);
            }

            .access-wrap+.access-wrap {
                margin-top: -1px;
                border-top: 1px solid #fff;

                th,
                td {
                    padding-top: 0;
                }
            }
        }

        &.type2 {
            display: flex;
            flex-wrap: wrap;

            .tr {
                @include flex-flow;
                width: 100%;
                flex: 1 1 100%;

                .th {
                    flex: 0 0 16rem;
                    font-weight: $fw-m;
                    padding: 2rem 0;

                    &~.th {
                        margin-left: 3rem;
                    }

                    .tit {
                        font-weight: $fw-m;
                        color: $color-666;
                    }
                }

                .td {
                    @include flex-flow;
                    justify-content: start;
                    flex: 1 1 33.3%;

                    [class^='btn'] {
                        margin-left: 10px;
                    }

                    & {
                        .ellipsis {
                            @include ellipsis(1);
                            width: calc(100% - 100px);
                            margin: 0 auto;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
        
        .checkbox.circle {

            input[type='checkbox'] {
    
                &:disabled:checked {
                    background-color: $color-666;
                    border-color: $color-666;
                    
                    & + i {
                        background-position: center;
                    }
                }
            }
            
        }
    }

    //동영상 리스트 table
    .video-list-wrap {
        border-top: 2px solid $color-000;

        ul {
            @include flex-flow;
            flex-wrap: wrap;
            margin-top: 4rem;

            li {
                width: calc(100%/2 - 10px);

                &:nth-child(n+3) {
                    margin-top: 4rem;
                }

                .item {
                    display: flex;
                    flex-wrap: wrap;

                    .area {
                        overflow: hidden;
                        width: 24rem;
                        height: 13.5rem;

                        img {
                            width: 100%;
                        }
                    }

                    .info {
                        margin-left: 2rem;
                        width: calc(100% - 27rem);

                        .dep-cate {
                            @include fs($fs12);
                            margin-bottom: 5px;

                            span+span::before {
                                margin-right: 5px;
                            }
                        }

                        .tit {
                            @include fs($fs18);
                            word-break: keep-all;
                        }

                        .dsc {
                            @include fs($fs12);
                            margin-top: 1.5rem;
                            color:$color-666;

                            span+span::before {
                                content: "";
                                display: inline-block;
                                @include wh(0.2rem, 0.2rem);
                                border-radius: 50%;
                                margin: 0 5px;
                                background: #666;
                                vertical-align: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    //체크박스 랩
    .chk-wrap {

        .sub-tit {
            @include fs($fs14);
            font-weight: $fw-m;
            margin-bottom: 10px;
        }
    
        .chk-dl {
            @include flex-flow;
            align-items: stretch;
            border: 1px solid $color-e6e6e6;
            border-radius: 6px;
    
            dl {
                display: flex;
                flex: 1 0 0;
    
                dt {
                    flex: 0 0 8rem;
                    min-height: 26rem;
                    @include fs($fs14);
                    font-weight: $fw-m;
                    color: $color-666;
                    text-align: center;
                    background-color: $color-f6f6f6;
                    padding-top: 16px;
                }
    
                dd {
                    flex: 0 0 29rem;
                    @include fs($fs14);
                    padding: 16px 0 16px 20px;
    
                    li {
    
                        &+li {
                            margin-top: 15px;
                        }
    
                        input[type=checkbox] {
                            margin-right: 10px;
                        }
                    }
                }
            }
    
            &+.sub-tit {
                margin-top: 20px;
            }
        }
    }
}

//input file
.input-file {
    width: 100%;

    .file-label {
        display: inline-block;
        min-width: auto;
        padding: 5px 10px 7px;
        font-size: 12px;
        line-height: 1;
        color: #fff;
        text-align: center;
        letter-spacing: -0.05em;
        border: 1px solid #555;
        background: #555;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .file-name {
        width: calc(100% - 11rem) !important;
    }
}

.input-none {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

//add file
.add-file {

    &.view {

        .add-file-names {
            width: 100% !important;
            border: 0;
            padding: 0 0;

            .name {
                @include fs($fs14);
                display: block;

                &:before {
                    content: none;
                }
            }
        }
    }

    &.flex {
        .add-file-names {
            align-items: start;
        }
    }

    .add-file-names {
        width: calc(100% - 11rem) !important;
        border: 1px solid $color-e6e6e6;
        border-radius: 6px;

        .inner {
            display: inline-block;
        }

        .name {
            position: relative;
            @include fs($fs14);

        }
        .file {
            padding: 5px 0;
        }
        .ico-cancel {
            cursor: pointer;
            vertical-align: 10%;
            margin-left: 2px;
        }
        &.disabled {
            background-color: #f6f6f6;
        }
    }
}

select + .add-file {
    flex: 1 0 auto;

    .add-file-names {
        height: 4.5rem;
        line-height: 4.3rem;

        .file {
            padding: 0 1rem;

            .name {
                vertical-align: text-bottom;
            }
        }
    }
}


//댓글
.comment-wrap {
    margin-top: 7rem;
    @include flex-flow;
    background-color: $bg-f6f6f6;
    padding: 2rem;

    .title {
        width: 8rem;

        em {
            font-weight: $fw-m;
            @include fs($fs14);
        }
    }

    .counter {
        @include fs($fs12);
        color: $color-666;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    .inner {
        flex: 1 1 100%;
        height: 10rem;
        padding: 20px;
        border-radius: 6px;
        background-color: $color-fff;
        border: 1px solid $color-e6e6e6;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-color: transparent;
    }

    textarea {
        @include fs($fs12);
        padding: 0;
        border: 0;
        resize: none;

        &::-webkit-input-placeholder {
            @include fs($fs12);

        }
    }

    .comment-register {
        @include wh(100px, 100px);
        background-color: $bg-fff;
        border: 1px solid $color-e6e6e6;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.comment-lists {
    margin-top: 4rem;

    .length {
        @include fs($fs16);
        padding-bottom: 1rem;
        font-weight: $fw-m;
        border-bottom: 1px solid $color-e6e6e6;

        em {
            font-weight: $fw-m !important;
        }
    }

    .comment-item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 2rem 0;
        border-bottom: 1px solid $color-e6e6e6;

        .info {

            span {
                display: inline-block;
                line-height: 1rem;
                font-weight: $fw-m;
                font-size: 1.4rem;

                &+span {
                    margin-left: 1rem;
                    padding-left: 1rem;
                    border-left: 1px solid $color-ccc;
                }
            }
        }

        .txt {
            @include fs($fs14);
            margin-top: 1rem;
        }

        .date {
            @include fs($fs12);
            margin-top: .5rem;
        }

        .del {
            position: absolute;
            right: 0;
            top: 2rem;
            text-decoration: underline;
            color: $color-666;
        }
    }
}

//filter
.filter-wrap {

    .inner {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    ul {
        display: flex;

        li {
            @include fs($fs14);
            line-height: 1.2rem;
            color: $color-666;

            &+li {
                border-left: 1px solid #ccc;
                margin-left: 1rem;
                padding-left: 1rem;
            }
        }
    }
}

//paging
.paging {
    margin-top: 40px;
    text-align: center;
    font-size: 0;
    line-height: 0;

    a {
        position: relative;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        font-size: 18px;
        line-height: 3rem;
        color: $color-666;
        vertical-align: top;
        padding-top: 1px;

        &.on {
            font-weight: $fw-b;
            color: $color-red;
        }
    }

    .first {
        background: url($path-img-common + 'ico_arrow_doble.svg') no-repeat center;
    }

    .prev {
        background: url($path-img-common + 'ico_arrow_single.svg') no-repeat center;
    }

    .last {
        background: url($path-img-common + 'ico_arrow_doble.svg') no-repeat center;
        transform: rotate(180deg);
    }

    .next {
        background: url($path-img-common + 'ico_arrow_single.svg') no-repeat center;
        transform: rotate(180deg);
    }

    .first.disabled,
    .prev.disabled,
    .last.disabled,
    .next.disabled {
        background-position: center center;
    }
}

//file icon
.file-icon {
    @include wh(2rem, 2rem);
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    &[type*='pdf'] {
        background-image: url($path-img-ico + 'ico_pdf.svg');
    }

    &[type*='word'] {
        background-image: url($path-img-ico + 'ico_word.svg');
    }

    &[type*='excel'] {
        background-image: url($path-img-ico + 'ico_excel.svg');
    }

    &[type*='html'] {
        background-image: url($path-img-ico + 'ico_html.svg');
    }

    &+span {
        vertical-align: middle;
        margin-left: .3rem;
    }
}

//table bottom button
.flex {
    &+.paging {
        margin-top: -1.3rem;
    }
}
.left-btn {
    text-align: left;
    margin-top: 2rem;

    //버튼 아래에 페이징이 있는 경우
    &+.paging {
        margin-top: -1.3rem;
    }
}
.right-btn {
    text-align: right;
    margin-top: 2rem;

    button + button {
        margin-left: 1rem;
    }

    //버튼 아래에 페이징이 있는 경우
    &+.paging {
        margin-top: -1.3rem;
    }
}


//location
.location-wrap {
    background-color: #373d45;
    height: 12rem;

    .inner {
        @include flex-flow;
        height: 100%;
        width: 120rem;
        margin: 0 auto;

        .location-title {
            color: #fff;
            font-size: 30px;
            font-weight: $fw-m;
        }

        .location-list {
            font-size: 0;

            p {
                
                position: relative;
                display: inline-block;
                @include fs ($fs14);
                color: $color-fff;

                span {
                    vertical-align: middle;
                }
                i {
                    @include wh (1.2rem, 1.2rem);
                    display: inline-block;
                    padding: 0 0.3rem;
                    background: url($path-img-ico + 'ico_arrow_right_location.svg') no-repeat center center;
                    vertical-align: middle;
                }

            }
        }
    }
}

//search box
.search-box-wrap {
    margin-top: 4rem;

    >.inner {
        background-color: $bg-f6f6f6;
        padding: 3.5rem 14.3rem;
        border-radius: 12px;

        .table-col {
            display: table;
            width: 100%;

            &+.table-col {
                margin-top: 1rem;
            }

            .th {
                @include fs($fs16);
                font-weight: $fw-m;
                width: 12rem;
                white-space: nowrap;
                color: $color-666;
            }

            .td {

                & [class*='-wrap'] {
                    display: inline-block;

                    select:disabled {
                        background-color: #fff;
                    }

                    &+[class*='-wrap'] {
                        margin-left: 1px;
                    }
                }

                &.btn-wrap {
                    vertical-align: bottom;
                }
            }

            .th,
            .td {
                display: table-cell;
                vertical-align: text-top;
            }

            .loop {
                &+.loop {
                    margin-top: 1rem;
                }
            }

            .ico-search {
                display: inline-block;
                @include wh(2.6rem, 2.6rem);
                margin-left: 1rem;
                background: url($path-img-ico + 'ico_plus.svg') no-repeat center center;
                vertical-align: middle;

                &.plus {
                    background: url($path-img-ico + 'ico_plus.svg') no-repeat center center / cover;
                }

                &.minus {
                    background: url($path-img-ico + 'ico_minus.svg') no-repeat center center / cover;
                }
            }

            .datepicker-wrap {

                label {

                    input.disabled {
                        background-color: $color-fff;
                    }

                    div {
                        border-color: $color-ccc;
                    }
                }
            }
        }
    }
}


//modal
.modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    @include wh(100%, 100%);
    z-index: 11;

    //alert type
    .modal-wrap {
        @include position (50%, 50%);
        transform: translate(-50%, -50%);
        @include fs($fs15);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.01);

        &[type='alert'] {
            @include wh(30rem,20rem);
            overflow:hidden;
            border-radius:0 0 1.2rem 1.2rem;
        }

        .pop-tit {
            display: block;
            margin-bottom: 2rem;
            font-size: $fs15;
            font-weight:$fw-m;
            color:$color-111;
        }

        .dl-cont {
            @include flex-flow; 
            margin-bottom: 1rem;

            &:last-of-type {
                margin-bottom: 0;
            }

            dt, dd {
                @include fs ($fs14);
            }
            dt {
                padding:1rem 0;
                width:12rem;
                color: $color-666;
            }
            dd {
                width:calc(100% - 12rem);
                color:$color-111;
            }

            &.detail {
                margin-bottom: 0;
            }

            &.first {
                border-top:1px solid $color-e6e6e6;
                padding-top: 1rem;
            }
        }

        .modal-content {
            text-align: center;
            position: relative;

            p {
                @include wh(100%,15rem);
                background: $bg-fff;
                font-size: $fs15;
                @include flex-flow($justify:center,$align: center);
                border:1px solid $color-ccc;
                border-bottom:0;
                border-radius:1.2rem 1.2rem 0 0;
                box-sizing: border-box;
            }

            .btns {
                @include wh(100%, 5rem);
                display: flex;

                &.btns--full-wh .modal__btn {
                    width:100%;
                }

                &.include-red-stroke {
                    border-left:1px solid $color-red;
                    border-radius: 0 0 0 1.2rem;
                }

                .modal__btn {
                    display: block;
                    @include wh(50%, 100%);
                    font-size: $fs15;
                    line-height: 5rem;
                    text-align: center;
                    @include border-radius($radius : 0);
                    font-weight: $fw-r;
                    box-sizing: border-box;

                    &.btn--gray {
                        background: $bg-666;
                        border-left:1px solid $color-666;
                    }
                    &.btn--red-stroke {
                        background: $bg-fff;
                        border-color:$bg-red;
                        color:$color-red;
                        border-width:1px 0 1px 0;
                        border-radius:0 0 0 1.1rem ;
                    }
                }
            }
        }

        &.modal--m-size[type='layer'] {
            @include wh(36rem,auto) ;
            overflow:hidden;
            border-radius:0 0 1.2rem 1.2rem;

            .modal-content {
                height:100%;
            }

            .content-wrap {
                padding:3rem 3rem 2rem 3rem;
                border:1px solid $color-ccc;
                border-bottom:0;
                border-radius:1.2rem 1.2rem 0 0;
                text-align: left;
                background: $color-fff;

                &.chk-include {
                    padding-bottom: 3rem;
                }
            }

            .password-input {
                padding: 3rem;
                background: $color-fff;
                width:100%;
                height:calc(100% - 5rem);
                margin:0 auto;
                text-align: left;
                border:1px solid $color-ccc;
                border-bottom:0;
                border-radius: 1.2rem 1.2rem 0 0;

                p {
                    position: relative;
                    padding-left: 1.5rem;
                    margin-top: 1rem;
                    height:auto;
                    font-size:$fs13;
                    color:$color-666;
                    border:0;
                    text-align: left;
                    display: block;

                    &::before {
                        content:'※';
                        position: absolute;
                        left:0;
                        top:0;
                        width:.4rem;
                        height:.5rem;
                    }
                }

                dt, dd {
                    width:100%;
                }
                
                input[type="password"] {
                    padding:1rem 1.5rem;
                    height:4rem;
                    color:$color-666;
                    @include border-radius(4px);
                }
            }
        }

        &.modal__table-wrap[type='layer'] {
            width:60rem;

            &.w700 {
                .modal-tb {
                    height: 57.8rem;
                }
            }

            .log {
                padding-bottom: 4.6rem;
                border-bottom:1px solid $color-ccc;
                @include border-radius(12px);
                
                th:nth-of-type(2) , td:nth-of-type(2) {
                    text-align: center;
                }
            }

            .modal-tb {
                height:55rem;
                overflow-y:auto;
            }

            table {
                width:100%;
                border-top:1px solid $color-e6e6e6;

                input[type='checkbox'] {
                    margin-right:0;
                }
            }

            th, td {
                padding:1.5rem 0;
                font-size: 1.4rem;
                text-align: center;
                border-bottom:1px solid $color-e6e6e6;
            }
            th {
                background: $bg-f6f6f6;
                font-weight: $fw-m;

                &:nth-of-type(2) {
                    text-align: left;
                }
            }
            td {
                text-align: center;

                &:nth-of-type(2) {
                    text-align: left;
                }
            }

        }

        .chk-list-wrap {
            border-top:1px solid $color-e6e6e6;
            height:45rem;
            overflow-y:auto;

            li {
                padding:1.5rem;
                border-bottom:1px solid $color-e6e6e6;
                &:first-of-type {
                    background: $bg-f6f6f6;
                }
            }
        }
        input[type='text'], input[type='password'] {
            padding:1rem;
            height: 4rem;
            line-height: 3.8rem;
            @include border-radius(4px);
        } 

    }

    .close-btn {
        @include position (auto, 3rem);
        right:3rem;
        @include wh(2.5rem, 2.5rem);
        background: url($path-img-ico + 'ico_close.svg') no-repeat center / 25px;
    }


}

//검색결과 tab
.tab-wrap {

    .tab-title {

        .depth1 {

            .inner {
                @include flex-flow;

                a {
                    flex: 1 0 128px;
                    height: 4.8rem;
                    border-top: 1px solid $color-e6e6e6;
                    border-bottom: 1px solid $color-e6e6e6;
                    @include fs($fs15);
                    line-height: 4.6rem;
                    background-color: $bg-f6f6f6;
                    text-align: center;
                    color: $color-666;

                    &:first-child {
                        border-left: 1px solid $color-e6e6e6;
                    }

                    &:last-child {
                        border-right: 1px solid $color-e6e6e6;
                    }

                    &.on {
                        border-bottom: 1px solid transparent;
                        border-left: 1px solid $color-e6e6e6;
                        font-weight: $fw-m;
                        color: inherit;
                        background-color: $bg-fff;
                    }
                }
            }

            .depth2 {
                @include flex-flow;
                margin-top: 2rem;
                justify-content: center;

                li {

                    a {
                        @include fs($fs14);
                        padding: 0 1.5rem;

                        &.on {
                            color: $color-red;
                            font-weight: $fw-m;
                        }
                    }
                }
            }
        }
    }
}

//통합검색
.integrate-search-wrap {
    margin-top: 5.8rem;

    .inner {
        position: relative;

        input[type="text"] {
            padding:.8rem 5rem 1.5rem .2rem;
            @include wh (100%, 5rem);
            border:0;
            @include border-radius(0);
            border-bottom: 3px solid $color-111;
            @include fs ($fs24);
            font-weight:$fw-m;
            color:$color-111;
        }

        .srch-btn{
            position: absolute;
            right:0;
            bottom:0;
            @include wh (5rem, 4.5rem);
            background: url($path-img-common + 'ico_search_1.svg') center top .4rem/3rem 3rem  no-repeat;
        }
    }

}


//퀵서치영역
.quicksearch-wrap {
    margin-top: 5rem;

    .inner {
        @include flex-flow;
    }

    .select-wrap {
        @include flex-flow;
        width:85.7%;

        .select-box {
            width:31.3%;

            &+.select-box {
                margin-top: 10px;
            }
        }

        select {
            padding:1rem 0;
            height:4.6rem;
            @include fs ($fs18);
            font-weight:600;
            color:$color-111;
            border:0;
            @include border-radius(0);
            border-bottom:2px solid $color-000;
            background: url($path-img-ico + 'ico_arrow_view.svg') right center /2rem 2rem  no-repeat;
        }
    }

    button {
        width:11.6%;
        height:4.6rem;
        font-size: $fs20;
        @include border-radius(1rem);
    }
}

//필수
.required {
    &:after {
        content: " *";
        color: $color-red;
    }
}
